* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image:url('background3.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    border-radius: 30px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header, nav, footer {
    background: #444;
    color: white;
    text-align: center;
    padding: 15px;
}

header {
    margin-bottom: 10px;
    font-style: italic;
}

.main-content {
    border-radius: 30px;
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

article {
    border-radius: 30px;
    flex: 2;
    background: #777;
    padding: 15px;
}

section {
    border-radius: 30px;
    background: #555;
    padding: 15px;
    margin-top: 10px;
}

aside {
    border-radius: 30px;
    flex: 1;
    background: #999;
    padding: 15px;
}

.form-container {
    border-radius: 30px;
    margin: 20px 0px;
    padding: 20px;
    background: #eee;
}

.text-area {
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 450px;
    min-height: 40px;
    font-size: 16px;
    background: white; 
    outline: none; 
    display: flex; 
    align-items: center; 
    cursor: text;
}

.text-area div {
    border: none;
    outline: none; 
    background: transparent;
}





